/* Fonts */
/* ===== */
/* Chalkboard font: KG Second Chances Sketch */
@font-face {font-family: "KG Second Chances Sketch";
    src: url("../lib/font/kg-second-chances-sketch.ttf") format("truetype");
}
/* Ultra */
@font-face {font-family: "Ultra";
    src: url("../lib/font/ultra-regular.ttf") format("truetype");
}

/* reveal.js */
/* ========= */
/* Images */
.reveal section img {
    background:none !important;
    border:none !important;
    box-shadow:none !important;
}

/* Tables (taken from Jupyter) */
.rendered_html th{
    text-align:left;
}

.rendered_html td{
    text-align:left;
}

.reveal table.dataframe {
    background: white;
    font-size:16px !important;
}

.reveal table.dataframe {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: black;
    font-size: 12px;
    table-layout: fixed;
}
.reveal table.dataframe thead {
    border-bottom: 1px solid black;
    vertical-align: bottom;
}
.reveal table.dataframe tr,
.reveal table.dataframe th,
.reveal table.dataframe td {
    text-align: right;
    vertical-align: middle;
    padding: 0.5em 0.5em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none;
}
.reveal table.dataframe th {
    font-weight: bold;
}
.reveal table.dataframe tbody tr:nth-child(odd) {
    background: #f5f5f5;
}
.reveal table.dataframe tbody tr:hover {
    background: rgba(66, 165, 245, 0.2);
}
.reveal table.dataframe * + table {
    margin-top: 1em;
}

/* Code Block */
.reveal pre code {
    max-height: 600px !important;
}
  
/* Notebooks */
/* ========= */

/* Workshop title */
#notebook-container h1.workshop-title{
    align:center;
    display:flex;
    align-items:center;
    justify-content:space-around;
    background-image:url(../media/black-board.jpg);
    /* background-size: 960px 640px;
    width:960px;
    height:640px; */
    background-size: 720px 480px;
    width:600px;
    height:400px;
    margin-top:0px !important;
    font-size:60px;
    line-height:2;
    font-family:KG Second Chances Sketch;
    color:white;
    font-weight:normal;
}

#notebook-container h1.workshop-title .anchor-link{
    position:absolute;
    left:5000;
}

/* Background title */
#notebook-container h1.background-title{
    align:center;
    display:flex;
    align-items:center;
    justify-content:space-around;
    /* background-image:url(https://images.unsplash.com/photo-1547584487-9037b59be4f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80); */
    /* background-size: 960px 640px;
    width:960px;
    height:640px; */
    background-size: 720px 480px;
    width:600px;
    height:400px;
    margin-top:0px !important;
    font-size:35px;
    line-height:2;
    font-family:Ultra;
    /* color:white; */
    font-weight:normal;
}

h1.background-title .anchor-link{
    position:absolute;
    left:5000;
}