/* Fonts */
/* Chalkboard font: KG Second Chances Sketch */
@font-face {font-family: "KG Second Chances Sketch";
    url("../lib/font/kg-second-chances-sketch.ttf") format("truetype");
}
/* Chalkboard font: KG Second Chances Sketch */
@font-face {font-family: "Ultra";
    src: url("../lib/font/ultra-regular.ttf") format("truetype");
}

.reveal section img { background:none; border:none; box-shadow:none; }

/* Workshop title */
#notebook-container h1.workshop-title{
    align:center;
    display:flex;
    align-items:center;
    justify-content:space-around;
    background-image:url(../media/black-board.jpg);
    /* background-size: 960px 640px;
    width:960px;
    height:640px; */
    background-size: 720px 480px;
    width:600px;
    height:400px;
    margin-top:0px !important;
    font-size:60px;
    line-height:2;
    font-family:KG Second Chances Sketch;
    color:white;
    font-weight:normal;
}

#notebook-container h1.workshop-title .anchor-link{
    position:absolute;
    left:5000;
}

/* Background title */
#notebook-container h1.background-title{
    align:center;
    display:flex;
    align-items:center;
    justify-content:space-around;
    /* background-image:url(https://images.unsplash.com/photo-1547584487-9037b59be4f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80); */
    /* background-size: 960px 640px;
    width:960px;
    height:640px; */
    background-size: 720px 480px;
    width:600px;
    height:400px;
    margin-top:0px !important;
    font-size:35px;
    line-height:2;
    font-family:Ultra;
    /* color:white; */
    font-weight:normal;
}

h1.background-title .anchor-link{
    position:absolute;
    left:5000;
}

/* Title icons */
/* .title_icon{
    height:35px !important;
    align:middle !important;
    vertical-align:center !important;
    display:inline !important;
} */
